
*{
margin: 0;
padding: 0;
font-family: Hiragino Maru Gothic ProN;
}
.flex {
display: flex;
justify-content: space-between;
}
.header {
background-color: #333;
height: 70px;
font-size: 30px;
color: #EEEEEE;
}
.header-title p {
line-height: 70px;
font-size: 30px;
margin-left: 30px;
}
.header-right a {
  line-height: 70px;
  float: right;
  margin-right: 30px;
  cursor: pointer;
  font-size: 18px;
  color: white;
}
.l-wrapper {
  margin: 54px;
  width: 350px;
  float: left;
  display:flex;
  flex-wrap: wrap;
}
.card {
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, .16);
  color: #212121;
  text-decoration: none;
}
.card__header {
  display: flex;
  flex-wrap: wrap;
}
.card__image {
  margin: 0;
  order: 0;
}
.card__body {
  padding: 1rem;
}
.card__text {
  font-size: 1rem;
  margin-top: .5rem;
}
.card__footer {
  display: inline-flex;
  margin-bottom: 10px;
}
.button {
  display: inline-block;
  text-decoration: none;
  /* transition: background-color .3s ease-in-out; */
  cursor: pointer;
  margin-left: 38px;
  
}
.button.-compact {
  padding: .5rem 1rem;
  border-radius: .25rem;
  background-color: #26a69a;
  color: #fff;
  font-weight: bold;
  
}
.button.-compact:hover,
.button.-compact:focus {
  background-color: #80cbc4;
}
.input{
  border-top: 1px solid #ddd;
  padding: 1rem;
  margin-top: .5rem;
  font-size: 1rem;
  font-weight: bold;
  padding: .5rem 1rem;
  text-decoration: none;
  transition: background-color .3s ease-in-out;
  cursor: pointer;
  background-color: #26a69a;
} 
@media screen and (max-width:480px)
{
    .l-wrapper {
    /* width: 200px; */
    /* text-align: center; */
    margin: 24px;
    }
    .card {
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, .16);
    color: #212121;
    text-decoration: none;
    text-align: center;
    }
}